.apresentation {
  width: 100%;
  min-height: 80vh;
  display: flex;
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 75px;
}
.rightSide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.titleNowrap {
  font-size: 36px;
  color: #303030;
  font-weight: bold;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.subtitle {
  font-size: 20px;
  font-weight: regular;
  font-size: 24px;
  color: #303030;
}
.text {
  font-weight: regular;
  font-size: 20px;
  color: #303030;
}
.apresentation .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.inputApresentation {
  width: 410px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  outline: none;
  padding: 1rem;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
  margin-right: 1rem;
}
.inputApresentation::placeholder {
  color: #868686;
  font-size: 18px;
  font-family: Segoe UI;
}
.results {
  background-color: #ededed;
  height: 100%;
  margin-top: -5px;
  display: flex;
  flex-direction: row;
}
.resultsLeftSide {
  display: flex;
  padding-left: 85px;
  flex-direction: column;
  width: 55%;
}
.resultsRightSide {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 75px;
}
.statisticsMen {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.statistics {
  width: 40%;
  margin-left: 3rem;
}
.waveInverted {
  margin-top: -5px;
  transform: rotate(180deg);
  margin-bottom: 5rem;
}

.textsRight {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.notificationArea {
  width: 100%;
  padding-right: 75px;
  margin-bottom: 5rem;
}

.titleRightNowrap {
  text-align: right;
  font-size: 36px;
  color: #303030;
  font-weight: bold;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.imageCenter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abacatePeso{
  height: 70%;
}
.abacateCorrida {
  width: 200;
}
.titleWrap{
  display: none;
}
.titleRightWrap{
  display: none
}
.form{
  width: 80%;
}


@media screen and (max-width: 1200px) {
  .notificationArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textsRight{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .titleRight{
    text-align: center;
  }
  .leftSide{
    width: 100%;
    padding: 0;
  }
  .notificationArea{
    padding: 0;
  }
  .rightSide {
    display: none;
  }
  .textLeftSide {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .resultsRightSide{
    display: none;
  }
  .resultsLeftSide{
    width: 100%;
    align-items: center;
    padding:0;
  }
  .titleNowrap{
    text-align: center;
  }
  .subtitle{
    text-align: center !important;
  }
  .form{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}

@media screen and (max-width: 900px) {
  .titleWrap{
    text-align: center
  }
  .titleNowrap{
    font-size: 30px;
  }
  .subtitle{
    font-size: 20px;
    text-align: center;
  }
  .titleRightNowrap{
    display: none;
  }
  .titleRightWrap{
    display: block;
    font-size: 30px;
    text-align: center;
    flex-wrap: wrap;
    text-align: right;
    color: #303030;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
}

@media screen and (max-width: 700px){
  .inputApresentation{
    display: none
  }
  .rightSide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .apresentation{
    margin-top: 3rem;
    flex-direction: column;
  }
  .abacatePeso {
    max-width: 300px;
    width: 70% !important;
    margin-top: 3rem;
  }
  .menImg{
    width: 35%;
  }
  .titleWrap{
    font-size: 5vw !important;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    font-size: 36px;
    color: #303030;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .text{
    font-size: 4vw
  }
  .subtitle{
    font-size: 3.5vw
  }
  .titleRightWrap{
    font-size: 5vw;
    margin-bottom: 20px !important;
  }
  .titleWrap{
    display: block;
  }
  .titleNowrap{
    display: none
  }

}