.login-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.login-left-side{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #ededed
}
.login-logo{
    margin-bottom: 3rem;
}