.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding-left: 5rem;
}
.subtitle {
  margin: 3rem 0 0 2rem;
  color: #303030;
}
.textsLeftSide {
  margin-left: 2rem;
}
.textsRightSide {
  margin-left: 2rem;
}
.userTitleInfo {
  color: #303030;
}
.userInfo {
  font-weight: 400;
  margin-left: 0.7rem;
}
.divTextInline {
  display: flex;
  margin-bottom: 0.5rem;
}
.divTextInline:last-child {
  margin-bottom: 0px;
}

.accountOptionsBody {
  width: 100%;
  margin-top: 4rem;
}
.accountQuestionBody {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accountQuestionBody:last-child {
  margin-bottom: 8rem;
}
.accountTexts {
  padding-left: 4rem;
}
#changeNameButton {
  margin-right: 4rem;
}
.accountSubtitle {
  font-weight: 400;
  color: #303030;
}
.accountTitle {
  color: #303030;
}

.modalTitle {
  font-weight: normal;
  color: #303030;
}
.modalSubtitle {
  font-weight: normal;
  color: #303030;
}
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.modalDivInputSubtitle {
  margin-top: -11px;
  width: 95%;
  display: flex;
  justify-content: end;
}
.modalInputSubtitle {
  font-weight: normal;
  color: #303030;
}
.modalButtons {
  display: flex;
  width: 95%;
  margin-top: 1.5rem;
  justify-content: end;
  margin-bottom: 4px;
}
#modalButtonCancel {
  margin-right: 1rem;
}
.modalContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divTextUserName {
  margin-top: 15px;
  margin-bottom: 25px;
}
.userTitleInfoModal {
  margin-left: 0.7rem;
  font-size: 14px;
}
.userInfoModal {
  font-weight: 400;
  margin-left: 0.7rem;
  font-size: 14px;
}
.ad {
  font-size: 10px;
  margin: 20px 0 -10px 0;
}
.bodyResponsive {
  display: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms linear;
}
.ReactModal__Overlay--after-open {
  margin-top: 0px;
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.ReactModal__Content {
  width: 70%;
}

.label {
  background-color: black;
  width: 200px;
  border-radius: 0 0 100% 100%;
}

@media screen and (max-width: 880px) {
  .ReactModal__Content {
    width: 90% !important;
  }
  .modalButtons {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 810px) {
  .body {
    padding-left: 20px;
  }
  .accountTexts {
    padding-left: 1.5rem;
    margin-right: 2rem;
  }
  #changeNameButton {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .body {
    display: none;
  }
  .bodyResponsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .textsResponsive {
    margin-left: 1rem;
  }
  .readMore {
    float: right;
    padding-top: 6px;
    color: #1e90c0;
    font-weight: normal;
    cursor: pointer;
  }
}
@media screen and (max-width: 660px) {
  .accountTitle {
    font-size: 16px;
  }
  .accountSubtitle {
    font-size: 13px;
  }
  .modalTitle {
    font-size: 1.3rem;
  }
  .modalSubtitle {
    font-size: 0.8rem;
  }
  .modalSmallLogo {
    width: 25px;
  }
  .modalInputSubtitle {
    font-size: 0.7rem;
  }
}
