.inputBody{
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    outline: none;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.20);
    font-size: 18px;
    font-family: Segoe UI;
    color: #868686;
    margin-bottom: 1rem;
    box-sizing:border-box;
    height: 50px;
}
.inputBody::placeholder {
    color: #adadad;
    font-size: 18px;
    font-family: Segoe UI;
}
input[type="date"]{
    padding: 0 8px 0 8px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
@media screen and (max-width: 700px){
    .inputBody{
        font-size: 15px;
        height: 45px;
    }
    .inputBody::placeholder {
        font-size: 15px;
    }
}