.register-body{
    width: 100%;
    height: 100vh;
    display:flex;
}
.register-left-side{
    background-color: #ededed;
    height: 100vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-logo{
    margin: 0 0 4rem 3rem;
}
.register-form{
    display: flex;
}
.register-right-side{
    height: 100vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register-email-side{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register-info-side{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.select{
    border-radius: 10px;
    outline: none;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    color: #adadad;
    font-family: Segoe UI;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 50px;
    align-items:center;
    text-align: center;
}
.input::placeholder {
    color: #adadad;
    font-size: 18px;
    font-family: Segoe UI;
}
@media screen and (max-width: 1100px){
    body {
        background: linear-gradient(167.95deg, #FFFFFF 0%, #DCDCDC 100%);
    }
    .register-left-side{
        display: none;
    }
    .wave{
        display: none;
    }
    .register-right-side{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    .register-info-side{
        display: none;
        width: 100%;
    }
    .register-email-side{
        width: 100%;
    }
    .register-form{
        margin: 0;
        padding: 0;
    }
    .logo-div{
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .register-logo{
        margin: 0 0 3rem 0 !important;
    }
}

@media screen and (max-width: 700px){
    .input{
        font-size: 15px;
    }
    .lg{
        width: 100%;
        height: 45px;
    }
    .input::placeholder {
        font-size: 15px;
    }
    .to-login{
        font-size: 12px;
    }
    .select{
        font-size: 15px;
    }
}
