.button-body {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}
.button-body p {
  font-weight: bold;
  font-size: 15px;
}
p{
  text-decoration: none;
}
@media screen and (max-width: 700px){
  .button-body p{
      font-size: 13px;
  }
  .button-body{
    height: 25px;
  }
}
@media screen and (max-width: 500px){
  .button-body p{
    font-size: 12px;
  }
}