.navbarBody {
  padding-top: 1rem;
  width: 100%;
  border-radius: 0 0 15px 15px;
  transition: all 0.5s ease-out;
}
.navbarLogo{
  background-image: url(../../images/NemesisV1.1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 65px;
  width: 150px;
}
.navbarFlex{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.navbarLeftSide {
  padding-left: 75px;
  display: flex;
  align-items: center;
}
.navbarRightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 75px;
}
.navbarRightSide a {
  margin-left: 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.responsiveMenu{
  visibility: hidden;
  display: flex;
  opacity: 0%;
  width: 100%;
  height: 0;
  align-items: center;
  justify-content:space-around;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.navbarRightSideResponsive{
  display: none;
}
.buttonMenuResponsive{
  margin-left: 10%;
}
.navbarRightSideLogged{
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.navbarLoggedTexts{
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin-right: 1rem;
}
.navbarUsername{
  color: #303030;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 18px;
}
.navbarGoal{
  color: #303030;
  font-family: Segoe UI;
  font-weight: regular;
  font-size: 16px;
}
.navbarGoal:hover{
  text-decoration: underline;
  cursor: pointer;
}
.navbarUsername:hover{
  text-decoration: underline;
  cursor: pointer;
}


.lateralMenuBody{
  transition: all 0.5s;
  right: 0;
  position:fixed;
  display: flex;
  flex-direction: column;
  width: 0;
  overflow: hidden;
  background-color: #EDEDED;
  height: 100%;
  z-index: 2;
}
.lateralMenuLoggedTexts{
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imgPerfilMenuIcon{
  margin-left: 1.5rem;
  cursor: pointer;
}
.lateralMenuUser{
  margin-top: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 350px;
  justify-content: center;
}
.imgPerfilIcon{
  cursor: pointer;
}
.lateralMenuList{
  width: 100%;
  display: flex;
  justify-content:center;
  flex-direction: column;
}
.lateralMenuListItem{
  display: flex;
  align-items: center;
  width: 300px;
}
.lateralMenuListItem:last-child{
  margin-top: 1.3rem;
}
.lateralMenuListItem img{
  margin: 0 0.7rem 0 1rem;
}
.lateralMenuListItem p{
  cursor: pointer;
  font-size: 17px;
  margin-top: -3px;
  color: #303030;
}
.lateralMenuListItem p:hover{
 text-decoration: underline;
}
.line{
  align-self: center;
  width: 280px;
  border: 1px solid #9B9B9B;
  background-color: #9B9B9B;
  overflow: hidden;
  margin: 1rem 0 1rem 0;
}
#buttonLateralMenuLogout{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.shadowBox{
  transition: opacity 0.5s ease-in-out;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.38);
  position: fixed;
  opacity: 0%;
}

@media screen and (max-width: 800px) {
  .navbarRightSide{
    display: none;
  }
  .navbarRightSideResponsive{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-right: 50px;
  }
  .navbarLeftSide{
    padding-left: 50px;
  }
  .navbarRightSideLogged{
    display: none;
  }
  .navbarLogo{
    background-image: url(../../images/Logo.png);
    width: 50px;
    height: 50px;
  }
  .navbarUsername{
    font-size: 15px;
  }
  .navbarGoal{
    font-size: 15px;
  }
}