.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    background-color: #ededed;
    margin-top: -5px;
}
.footer p {
    font-weight: bold;
    font-size: 20px;
    color: #303030;
}

@media screen and (max-width: 665px){
    .footer{
        height:150px;
    }
    .footer p {
        text-align: center;
        font-size: 3vw;
        margin: 1rem 1rem 0 1rem;
    }
}