.div-specs{
    display: flex;
}
.user-page-title{
    color: #303030;
    margin-left: 75px;
    margin-bottom: 2rem;
}
.user-page-subtitle{
    font-weight: 500;
    margin-left: 90px;
}
.user-page-specs-left-side{
    display: flex;
    flex-direction: row;
}
.user-page-progress{
    display: flex;
    flex-direction: column;
}