* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: Segoe UI;
}

:root{
  --primary-color: #45c4b0;
  --secundary-color: #9AEBA3;
  --default-grey: #EDEDED;

  --default-padding: 85px;
  --responsive-padding: 30px;
}

