* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: Segoe UI;
}
a{
  font-family: Segoe UI;
  text-decoration: none;
  font-size: 15px;
  color: #1F67A9;
}