.body {
  display: flex;
  align-items: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.leftSide {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 1.5rem;
}
.rightSide {
  width: 35%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.select {
  border-radius: 10px;
  outline: none;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  color: #adadad;
  font-family: Segoe UI;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../../../images/downArrow.png) no-repeat center right #fff;
}
.linkText {
  margin-top: 15px;
}
.rightDiv {
  width: 73%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.availGymDaysBody {
  width: 73%;
}
.text {
  color: #707070;
  font-size: 1.1rem;
}
.value {
  margin-left: 0.3rem;
  color: #707070;
  font-size: 1.1rem;
}
.texts {
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.inputRange {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-image: url(../../../../images/teste.png);
  background-size: 100%;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.inputRange::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background: #808080;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background: #808080;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputRange::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background: #808080;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1100px) {
  .body {
    flex-direction: column;
  }
  .leftSide {
    width: 80%;
    margin-right: 0;
  }
  .rightSide {
    width: 80%;
    margin-top: 0;
  }
  .inlineResponsive {
    display: flex;
  }
  #selectSex {
    width: 32%;
    margin-right: 2%;
  }
  #selectWeight {
    width: 32% !important;
    margin-right: 2%;
  }
  #selectHeight {
    width: 32% !important;
  }
  .rightDiv {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  }
  .select {
    height: 45px;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../../../../images/downArrow.png) no-repeat center right
      #fff;
  }
}

@media screen and (max-width: 700px) {
  .select {
    height: 45px;
    font-size: 15px;
  }
  .text {
    font-size: 15px;
  }
  .value {
    font-size: 15px;
  }
}
